Repository getsentry/pypi: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-packages-ini, flake8, pyupgrade, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
        args: [--py311-plus, --add-import, 'from __future__ import annotations']
-   repo: local
    hooks:
    -   id: format-packages-ini
        name: format packages.ini
        language: python
        entry: .venv/bin/python -m format_ini
        files: ^packages\.ini$

    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: .venv/bin/black
      language: system
      types_or: [python, pyi]
      require_serial: true

    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
      require_serial: true

    - id: pyupgrade
      name: pyupgrade
      entry: .venv/bin/pyupgrade
      language: system
      types: [python]
      args: [--py311-plus]

    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]
      require_serial: true

Update packages.ini
  packages.ini
Due: format-packages-ini

debug
  docker/Dockerfile
Due: none

fix: Remove debug output from docker build
  docker/Dockerfile
Due: none

add sentry-protos version
  packages.ini
Due: format-packages-ini

space
  packages.ini
Due: format-packages-ini

Add granian versions up to 2.8.2
  packages.ini
Due: format-packages-ini

Add emmett-core up to 1.4.4, emmett-prometheus 0.3.1
  packages.ini
Due: format-packages-ini

Add granian versions up to 2.8.2 (#2482)
  packages.ini
Due: format-packages-ini

Add emmett-core up to 1.4.4, emmett-prometheus 0.3.1 (#2483)
  packages.ini
Due: format-packages-ini

add
  packages.ini
Due: format-packages-ini

add supervisor 4.3.0 (#2484)
  packages.ini
Due: format-packages-ini

chore: bump packages for sentry and snuba
  packages.ini
Due: format-packages-ini

Add emmett-core up to 1.4.5
  packages.ini
Due: format-packages-ini

Add httpunk, punkreq
  packages.ini
Due: format-packages-ini

Add httpunk, punkreq (#2493)
  packages.ini
Due: format-packages-ini

Bump httpunk to 0.3.0, punkreq to 0.2.1
  packages.ini
Due: format-packages-ini

chore: bump mistune and uv
  packages.ini
Due: format-packages-ini

Bump httpunk to 0.4.0, punkreq to 0.2.2
  packages.ini
Due: format-packages-ini

Bump httpunk to 0.4.0, punkreq to 0.2.2 (#2525)
  packages.ini
Due: format-packages-ini

Retry public PyPI sdist downloads
  build.py
  tests/build_test.py
Due: flake8, pyupgrade, mypy

Format retry tests
  tests/build_test.py
Due: flake8, pyupgrade, mypy

fix: retry public PyPI sdist downloads (#2534)
  build.py
  tests/build_test.py
Due: flake8, pyupgrade, mypy

chore
  packages.ini
Due: format-packages-ini

Upgrade macOS build runner to macos-26
  .github/workflows/build.yml
Due: none

Smoke test forced macOS package rebuilds
  .github/workflows/build.yml
Due: none

Narrow macOS package rebuild smoke test
  .github/workflows/build.yml
Due: none

Remove temporary macOS rebuild smoke test
  .github/workflows/build.yml
Due: none

chore: upgrade to macos-26 (#2535)
  .github/workflows/build.yml
Due: none

chore: add anyio==4.14.2, soupsieve==2.9.0
  packages.ini
Due: format-packages-ini

build: Add pypdf for Explorer attachment validation
  packages.ini
Due: format-packages-ini

Bump httpunk to 0.4.5, punkreq to 0.2.3
  packages.ini
Due: format-packages-ini

Bump httpunk to 0.4.5, punkreq to 0.2.3 (#2561)
  packages.ini
Due: format-packages-ini

sentry-scm 1.7.0: require Python 3.13
  packages.ini
Due: format-packages-ini

fix: restrict sentry-scm 1.7.1 to Python 3.13+
  packages.ini
Due: format-packages-ini

add openrouter==1.3.8
  packages.ini
Due: format-packages-ini

feat(ophio): Add ophio 1.2.0
  packages.ini
Due: format-packages-ini

fix: restrict sentry-scm 1.7.2 to Python 3.13+
  packages.ini
Due: format-packages-ini

add patched versions for open dependabot alerts
  packages.ini
Due: format-packages-ini
