Repository getsentry/pypi: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-packages-ini, flake8, pyupgrade, mypy

format-packages-ini:
  name: format packages.ini
  language: python
  entry: .venv/bin/python -m format_ini

flake8:
  name: flake8
  entry: .venv/bin/flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  entry: .venv/bin/pyupgrade
  language: system
  args:
  - --py311-plus

mypy:
  name: mypy
  entry: .venv/bin/mypy
  language: system
  require_serial: true

add python_versions = <3.14 for all sentry-streams and sentry-streams-k8s
  packages.ini
Due: format-packages-ini

[skip ci] initial upgrade-python skill
  .claude/skills/upgrade-python.md
  build.py
  packages.ini
Due: format-packages-ini, flake8, pyupgrade, mypy

[skip ci] fix skill
  .claude/skills/upgrade-python/SKILL.md
Due: none

build: single-version mode for Python 3.14 upgrade
  .github/workflows/build.yml
  build.py
  docker/install-pythons
  validate.py
Due: flake8, pyupgrade, mypy

build: fix Dockerfile for single-version Python 3.14 mode
  docker/Dockerfile
Due: none

[skip ci] update skill
  .claude/skills/upgrade-python/SKILL.md
Due: none

build: add fail-fast: false for linux matrix jobs
  .claude/skills/upgrade-python/SKILL.md
  .github/workflows/build.yml
Due: none

mark python 3.14 build failures in packages.ini
  PYTHON-3.14-UPGRADE.md
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for rpds-py, sentry-forked-jsonnet, sentry-streams, sentry-streams-k8s
  .claude/skills/upgrade-python/SKILL.md
  packages.ini
Due: format-packages-ini

fix pillow, p4python, lxml builds for python 3.14
  PYTHON-3.14-UPGRADE.md
  docker/Dockerfile
  packages.ini
Due: format-packages-ini

fix p4python macos build: set ssl env var via custom_prebuild
  build.py
  packages.ini
  prebuild/p4python-ssl
Due: format-packages-ini, flake8, pyupgrade, mypy

fix p4python macos: use brew_prefix_env instead of custom_prebuild
  build.py
  packages.ini
  prebuild/p4python-ssl
Due: format-packages-ini, flake8, pyupgrade, mypy

p4python: drop brew_requires, keep only brew_prefix_env
  packages.ini
Due: format-packages-ini

revert p4python and brew_prefix_env changes
  PYTHON-3.14-UPGRADE.md
  build.py
  packages.ini
Due: format-packages-ini, flake8, pyupgrade, mypy

restore all previously-succeeded packages to packages.ini
  .claude/skills/upgrade-python/SKILL.md
  packages.ini
Due: format-packages-ini

restore p4python==2025.1.2767466 with python_versions = <3.14
  packages.ini
Due: format-packages-ini

stop building grpcio and confluent-kafka on 3.14
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for uvloop, make validate.py continue on failure
  packages.ini
  validate.py
Due: format-packages-ini, flake8, pyupgrade, mypy

document uvloop validation failure and update p4python status
  PYTHON-3.14-UPGRADE.md
Due: none

[skip ci] granian fails validation bc no uvloop
  PYTHON-3.14-UPGRADE.md
  packages.ini
Due: format-packages-ini

revert single-version mode, build all python versions
  .claude/skills/upgrade-python/SKILL.md
  .github/workflows/build.yml
  build.py
  docker/Dockerfile
  docker/install-pythons
  validate.py
Due: flake8, pyupgrade, mypy

build: add apt-get --fix-missing and gate macos on image job
  .github/workflows/build.yml
  docker/Dockerfile
Due: none

validate: respect python_versions from packages.ini
  validate.py
Due: flake8, pyupgrade, mypy

fix pc and tests
  PYTHON-3.14-UPGRADE.md
  packages.ini
  tests/validate_test.py
Due: format-packages-ini, flake8, pyupgrade, mypy

adjustments
  docker/Dockerfile
  packages.ini
Due: format-packages-ini

build: remove temporary image job from CI workflow
  .claude/skills/upgrade-python/SKILL.md
  .github/workflows/build.yml
Due: none

minor edits
  .github/workflows/build.yml
  packages.ini
Due: format-packages-ini

fix: always install latest uv
  .github/workflows/build.yml
Due: none

just switch to clang
  build.py
  docker/Dockerfile
Due: flake8, pyupgrade, mypy

fix and temporarily rebuild images
  .github/workflows/build.yml
  docker/Dockerfile
Due: none

revert testing
  .github/workflows/build.yml
Due: none

temp build pass in order to merge
  .github/workflows/build.yml
Due: none

im dumb
  .github/workflows/build.yml
Due: none

im dumb x2
  .github/workflows/build.yml
Due: none

wrong sha lol
  .github/workflows/build.yml
Due: none

feat: Add Python 3.14 support to build and validation (#1921)
  .claude/skills/upgrade-python/SKILL.md
  .github/workflows/build.yml
  PYTHON-3.14-UPGRADE.md
  build.py
  docker/Dockerfile
  docker/install-pythons
  packages.ini
  prebuild/crc32c
  prebuild/librdkafka
  tests/validate_test.py
  validate.py
Due: format-packages-ini, flake8, pyupgrade, mypy

build: Update maturin==1.12.4
  packages.ini
Due: format-packages-ini

Path conditions:
  format-packages-ini: any of: ^packages\.ini$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  mypy: any of: \.py$
