Repository getsentry/pypi: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-packages-ini, flake8, pyupgrade, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
        args: [--py311-plus, --add-import, 'from __future__ import annotations']
-   repo: local
    hooks:
    -   id: format-packages-ini
        name: format packages.ini
        language: python
        entry: .venv/bin/python -m format_ini
        files: ^packages\.ini$

    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: .venv/bin/black
      language: system
      types_or: [python, pyi]
      require_serial: true

    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
      require_serial: true

    - id: pyupgrade
      name: pyupgrade
      entry: .venv/bin/pyupgrade
      language: system
      types: [python]
      args: [--py311-plus]

    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]
      require_serial: true

build older version of cf on 3.14
  packages.ini
Due: format-packages-ini

fix librdkafka: restore --source-deps-only on Linux to avoid GSSAPI
  .pre-commit-config.yaml
  prebuild/librdkafka
Due: none

pillow==12.1.1
  packages.ini
Due: format-packages-ini

update orjson==3.11.7
  packages.ini
Due: format-packages-ini

skipif 3.14
  build.py
  validate.py
Due: flake8, pyupgrade, mypy

pc
  validate.py
Due: flake8, pyupgrade, mypy

explain
  README.md
Due: none

ref: warn only if build/validate fails on 3.14 (#1947)
  build.py
  validate.py
Due: flake8, pyupgrade, mypy

readme: explain (#1948)
  README.md
Due: none

python-jose==3.4.0
  packages.ini
Due: format-packages-ini

python-jose==3.5.0
  packages.ini
Due: format-packages-ini

chore: bump python dependancies for snuba
  packages.ini
Due: format-packages-ini

upgrade slack-sdk to 3.40.1
  packages.ini
Due: format-packages-ini

Mark streams as not python 3.14
  packages.ini
Due: format-packages-ini

django==5.2.12
  packages.ini
Due: format-packages-ini

downgrade
  packages.ini
Due: format-packages-ini

Add granian versions up to 2.7.2
  packages.ini
Due: format-packages-ini

Drop hallucinated fixes to non-existing issues with Granian on Python 3.14
  packages.ini
Due: format-packages-ini

Add Granian versions up to 2.7.2 (#1977)
  packages.ini
Due: format-packages-ini

replace black/flake8/tox/pip with ruff and uv
  .envrc
  .github/workflows/build.yml
  .github/workflows/image.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .python-version
  build.py
  docker/Dockerfile
  docker/requirements.in
  docker/requirements.txt
  make_index.py
  pyproject.toml
  setup.cfg
  tests/add_pkg_test.py
  tox.ini
  uv.lock
Due: flake8, pyupgrade, mypy

keep docker build context small
  .github/workflows/image.yml
  docker/Dockerfile
Due: none

readme
  README.md
Due: none

add 'prek==0.3.6'
  packages.ini
Due: format-packages-ini

feat: uv (#1983)
  .envrc
  .github/workflows/build.yml
  .github/workflows/image.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .python-version
  README.md
  build.py
  docker/Dockerfile
  docker/requirements.in
  docker/requirements.txt
  make_index.py
  packages.ini
  pyproject.toml
  setup.cfg
  tests/add_pkg_test.py
  tox.ini
  uv.lock
Due: format-packages-ini, flake8, pyupgrade, mypy

add confluent-kafka>=2.11.0,<2.12.0
  packages.ini
Due: format-packages-ini

Split py3.14 build into separate visible CI jobs
  .github/workflows/build.yml
  build.py
  validate.py
Due: flake8, pyupgrade, mypy

Revert "Split py3.14 build into separate visible CI jobs"
  .github/workflows/build.yml
  build.py
  validate.py
Due: flake8, pyupgrade, mypy

add pyjwt==2.12.0 and pyjwt==2.12.1
  packages.ini
Due: format-packages-ini

orjson==3.11.6, pyasn1==0.6.3
  packages.ini
Due: format-packages-ini

black==26.3.1
  packages.ini
Due: format-packages-ini

build: Add codeowners-coverage==0.2.1 to packages.ini
  packages.ini
Due: format-packages-ini

python3 -m add_pkg 'codeowners-coverage==0.2.1'
  packages.ini
Due: format-packages-ini

add codeowners-coverage==0.2.1 (#1998)
  packages.ini
Due: format-packages-ini

chore: pin GitHub Actions to full-length commit SHAs
  .github/workflows/build.yml
  .github/workflows/image.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

add pytest-django 4.12
  packages.ini
Due: format-packages-ini

Merge pull request #2007 from getsentry/vg/add-pytest-django-4.12
  packages.ini
Due: format-packages-ini

add codeowners-coverage==0.3.0
  packages.ini
Due: format-packages-ini

remove codeowners-coverage==0.2.1
  packages.ini
Due: format-packages-ini

add codeowners-coverage==0.3.0 (#2009)
  packages.ini
Due: format-packages-ini

chore: pin GitHub Actions to full-length commit SHAs (#2005)
  .github/workflows/build.yml
  .github/workflows/image.yml
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none
