Repository getsentry/pypi: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-packages-ini, flake8, pyupgrade, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: debug-statements
    -   id: name-tests-test
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
    -   id: reorder-python-imports
        args: [--py311-plus, --add-import, 'from __future__ import annotations']
-   repo: local
    hooks:
    -   id: format-packages-ini
        name: format packages.ini
        language: python
        entry: .venv/bin/python -m format_ini
        files: ^packages\.ini$

    # Configuration for black exists in pyproject.toml,
    # but we let pre-commit take care of the file filtering.
    - id: black
      name: black
      entry: .venv/bin/black
      language: system
      types_or: [python, pyi]
      require_serial: true

    # Configuration for flake8 exists in setup.cfg,
    # but we let pre-commit take care of the file filtering.
    - id: flake8
      name: flake8
      entry: .venv/bin/flake8
      language: system
      types: [python]
      require_serial: true

    - id: pyupgrade
      name: pyupgrade
      entry: .venv/bin/pyupgrade
      language: system
      types: [python]
      args: [--py311-plus]

    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]
      require_serial: true

detect-test-pollution==1.2.0
  packages.ini
Due: format-packages-ini

.
  packages.ini
Due: format-packages-ini

update clickhouse-driver==0.2.10
  packages.ini
Due: format-packages-ini

add freezegun==1.5.5
  packages.ini
Due: format-packages-ini

also add myst-parser==5.0.0 and mdit-py-plugins==0.5.0
  packages.ini
Due: format-packages-ini

add freezegun==1.5.5, myst-parser==5.0.0, mdit-py-plugins==0.5.0 (#1917)
  packages.ini
Due: format-packages-ini

feat(docker): Add Python 3.14 to manylinux CI images
  build.py
  docker/Dockerfile
  docker/install-pythons
Due: flake8, pyupgrade, mypy

ref: Revert build.py PYTHONS change
  build.py
Due: flake8, pyupgrade, mypy

feat: Add Python 3.14 support to build and validation
  build.py
  tests/validate_test.py
  validate.py
Due: flake8, pyupgrade, mypy

fix: Add CMAKE_POLICY_VERSION_MINIMUM for crc32c prebuild
  prebuild/crc32c
Due: none

fix: Black formatting and backports-zstd python_versions
  packages.ini
Due: format-packages-ini

feat(docker): Add Python 3.14 to manylinux CI images (#1922)
  docker/Dockerfile
  docker/install-pythons
Due: none

feat(docker): Add Python 3.14 to manylinux CI images
  build.py
Due: flake8, pyupgrade, mypy

build: only support macos-15 and add cp314
  .github/workflows/build.yml
Due: none

use uv pythons and build only docker image tagged with sha and use it so we can iterate here
  .github/workflows/build.yml
  docker/install-pythons
Due: none

install uv externally
  .github/workflows/build.yml
  docker/Dockerfile
  docker/install-pythons
Due: none

fixed upstream in uv pythons
  docker/install-pythons
Due: none

uv install
  docker/install-pythons
Due: none

hm
  docker/install-pythons
Due: none

uv-installed standalone Python builds bundle their own libcrypt
  docker/Dockerfile
Due: none

fix librdkafka build: use system deps instead of building from source
  docker/Dockerfile
  prebuild/librdkafka
Due: none

build only librdkafka libraries, skip examples
  prebuild/librdkafka
Due: none

scope make install to src and src-cpp only
  prebuild/librdkafka
Due: none

cant build 1.67.0 on <3.14 but i think we dont need it anymore
  packages.ini
Due: format-packages-ini

hold off on building grpcio older versions
  packages.ini
Due: format-packages-ini

lief ignore
  packages.ini
Due: format-packages-ini

orjson < 3.14
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for pydantic-core==2.23.4
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for pydantic-core==2.24.2
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for pydantic-core==2.33.2
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for pyuwsgi==2.0.27.post1
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for pyuwsgi 2.0.28-2.0.30
  packages.ini
Due: format-packages-ini

comment out all packages before pyuwsgi to speed up CI iteration
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for rpds-py==0.20.0
  packages.ini
Due: format-packages-ini

add python_versions = <3.14 for sentry-forked-jsonnet==0.20.0.post4
  packages.ini
Due: format-packages-ini
